[submodule "client"]
	path = client
	url = https://git.xjjj.co/devops/odc-client.git
	branch = release/20240412/v1
[submodule "build-resource"]
	path = build-resource
	url = https://git.xjjj.co/devops/odc-build-resource.git
	branch = main
