# ignore by file extensions
*.class
*.log*
*.iml
*.versionsBackup
*.DS_Store
*.pyc
*.tar.gz
*.tokens
*.interp

# ignore specific directories
.idea
.repository/
target
_build/
conf/
/plugins
/starters
server/odc-server/src/main/resources/static/
server/odc-common/src/test/resources/generate-input.properties
server/integration-test/oss_temp_dir/
server/integration-test/data/
server/integration-test/${sys:task.workspace}/
libs/ob-sql-parser/**/gen/
gen/
logs/
log/
testlog/
script/static
static/
data/**
# ignore specific files
.classpath
.project
.settings
odc-parent.ipr
odc-parent.iws
builds/odc.jar
distribution/plugins/
distribution/starters/
distribution/docker/resources/*.rpm
distribution/docker/odc/Dockerfile.arm
distribution/docker/resources/x86/
distribution/docker/resources/noarch/
distribution/docker/resources/aarch64/
lib/odc-*.jar
*output
*output.properties
.env
.mvn/
maven/
venv/
**/local-unit-test.properties
