<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <localRepository>/home/jenkins/agent/aci/.repository</localRepository>
    <mirrors>
        <mirror>
            <id>mirror-all</id>
            <mirrorOf>*,!central_dev</mirrorOf>
            <name>alipay mirror</name>
            <url>http://mvn.test.alipay.net/artifactory/content/groups/public/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>dev</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central_prod</id>
                    <url>http://mvn.test.alipay.net/artifactory/content/groups/public/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central_prod</id>
                    <url>http://mvn.test.alipay.net/artifactory/content/groups/public/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>